entrypoint = "index.js"
modules = ["nodejs-22", "postgresql-16"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["npm", "run", "server"]
deploymentTarget = "autoscale"
ignorePorts = false
build = ["npm", "run", "build"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dev"

[[workflows.workflow]]
name = "dev"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 3001
externalPort = 6000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3002

[[ports]]
localPort = 5002
externalPort = 3001

[[ports]]
localPort = 33447
externalPort = 6800

[[ports]]
localPort = 37407
externalPort = 5173

[[ports]]
localPort = 39517
externalPort = 4200

[[ports]]
localPort = 40279
externalPort = 8080

[[ports]]
localPort = 41611
externalPort = 8000

[[ports]]
localPort = 41699
externalPort = 5000

[[ports]]
localPort = 42397
externalPort = 8008

[[ports]]
localPort = 43743
externalPort = 3000

[[ports]]
localPort = 44377
externalPort = 8081

[[ports]]
localPort = 46421
externalPort = 3003
